<div class="form-group">
    <label for="{{id}}" class="form-group__label">{{label}}</label>
    <input type="{{type}}" id="{{id}}" name="{{name}}" class="form-group__input" placeholder="{{placeholder}}" {{#if
        required}}required{{/if}}>
</div>